body{
    font-family: 'Inter', sans-serif;
    margin: 0%;
}

section{
    margin-left: 10%;
    margin-right: 10%;
}
.f-sec{
    display: flex;
}
.imgsmall{
    width: 70%;
}
#border{
    border-left: 5px solid;
    padding-left: 10px;
    border-radius: 5px;
}
.half-wid1{
    width: 50%;
}
.half-wid1 img{
    width: 80%;
    margin-left: 100px;
}
#top-left{
    margin-top: 200px;
}

#box1{
    width: 30%;
    margin-right: 5%;
    padding: 50px 30px 50px 30px;
    background-color: rgb(237, 245, 246);
    border-radius: 20px;
    margin-bottom: 200px;
}
#box2{
    width: 30%;
    margin-right: 5%;
    padding: 50px 30px 50px 30px;
    background-color: rgb(255, 238, 238);
    border-radius: 20px;
    margin-bottom: 200px;
}
#box3{
    width: 30%;
    margin-right: 5%;
    padding: 50px 30px 50px 30px;
    background-color: rgb(255, 244, 214);
    border-radius: 20px;
    margin-bottom: 200px;
}
.textaling-center{
    text-align: center;
}
h1{
    font-size: 55px;
}
.color2020{
    color: rgb(255, 173, 90);
}
.half-wid{
    width: 50%;
    margin-bottom: 120px;
}
.half-wid img{
    width: 70%;
}
.button{
    border: 2px solid;
    padding: 15px 25px;
    border-radius: 15px;
    text-decoration: none;
    color: black;

}
.buttonm{
    margin-bottom: 60px;
    margin-top: 60px;

}
.text-center-color{
    text-align: center;
    color: rgb(255, 173, 90);
}
footer{
    background-color: black;
    height: 250px;
}
footer h1{
    padding-top: 60px;
    font-family: 'Sanchez',
}
footer p{
    text-align: center;
    color: white;
}
.fcolor{
    color: white;
    text-align: center;
}
#colo2022{
    color: red;
}
#clor2022{
    color: red;
}
.c-box{
    width: 30%;
    margin-right: 10%;
    padding: 30px 0px 30px 60px;
    background-color: rgb(237, 245, 246);
    border-radius: 20px;
    margin-bottom: 100px;
}
.c-box img{
    width: 50%;
}
